---
import BaseLayout from "../../layouts/BaseLayout.astro"

export async function getStaticPaths({ paginate }) {
  const allPost = await Astro.glob("./*.md");
  const fromHigh = allPost.sort((a, b) => a.frontmatter.id - b.frontmatter.id)
  return paginate(fromHigh, { pageSize: 1 });
}

const { page } = Astro.props;
const title = "blog title";
---

<BaseLayout title={title}>
  <div class="container">
    <div class="header">
      <h1>Blog Page</h1>
      <p>This is our blog page created with astro js.</p>
    </div>
    <a href="/">Go to the home page</a>
    <div class="blog--wrapper">
      {
        page.data.map((post) => (
          <article class="article">
            <h1>{post.frontmatter.title}</h1>
            <p>{post.frontmatter.descriptions}</p>
            <a href={post.url}>Read more</a>
          </article>
        ))
      }
      <div class="pagination">
        {page.url.prev && <a href={page.url.prev} title="Go to Previous">&larr; Prev</a>}
        {page.url.next && <a href={page.url.next} title="Go to Previous">Next &rarr;</a>}
      </div>
    </div>
  </div>
</BaseLayout>
<style lang="scss">
  .container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;

    a {
      margin-bottom: 2rem;
      font-size: 12px;
      color: #282828;
    }
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #282828;
    margin-bottom: 1rem;

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
      font-weight: 300;
    }
  }

  .blog--wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
  }

  article.article {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #282828;

    h1 {
      font-size: 1rem;
    }

    p,
    a {
      font-size: 12px;
      color: #282828;
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
